body{
    background-color: rgb(25,25,25);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.rps{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    background-color: rgb(25,25,25);
    cursor: pointer;
    font-size: 30px;
    margin-right: 10px;
    box-sizing: border-box;
    vertical-align: bottom;
}
.rps:hover{
    font-size: 40px;
    border-width: 5px;
}