

.todo_div{
    display: flex;
    width: 80%;
    height: 40px;
    /* background-color: red; */
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: solid 1px;
    /* border-radius: 20px; */
}
.title_div{
    width: 33%;
    height: 100%;
    display: flex;

}
.description_div{
    width: 33%;
    height: 100%;
}
.add_div{
    margin: 0;
    padding: 0;
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;

}
.add_button{
    font-size: 20px;
    width: 50%;
    height: 100%;
    margin: auto;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: #1A8CD8;
    color: white;
}
.mark_button{
    font-size: 20px;
    width: 45%;
    height: 100%;
    margin: auto;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: #3899da;
    color: white;
}
.delete_button{
    font-size: 20px;
    width: 45%;
    height: 100%;
    margin: auto;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: #ED5E68;
    color: white;
}
.title_input{
    margin: 0;
    font-size: 20px;
    padding-left: 10px;
    width: 90%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    border: solid 1px;
}
.description_input{
    font-size: 20px;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    border: solid 1px;
}


/* Todos after fetching from database */
.todo_div_db{
    display: flex;
    width: 80%;
    height: 40px;
    /* background-color: red; */
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: solid 1px;
    /* border-radius: 20px; */
}

.title_div_db{
    width: 30%;
    height: 100%;
    display: flex;
    border-right: solid 1px;

}
.description_div_db{
    width: 45%;
    height: 100%;
    border-right: solid 1px;
}
.add_div_db{
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;

}
.add_button_db{
    font-size: 20px;
    width: 50%;
    height: 100%;
    margin: auto;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: #1A8CD8;
    color: white;
}
.mark_button_db{
    font-size: 20px;
    width: 45%;
    /* max-width: 100px; */
    height: 100%;
    margin: auto;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: #3899da;
    color: white;
}
.delete_button_db{
    font-size: 20px;
    width: 45%;
    /* max-width: 100px; */
    height: 100%;
    margin: auto;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: #ED5E68;
    color: white;
}
.title_db{
    margin: 0;
    font-size: 20px;
    padding-left: 10px;
    width: 90%;
    height: 100%;
    /* box-sizing: border-box; */
    /* border-radius: 20px;
    border: solid 1px; */
}
.description_db{
    margin: 0;
    font-size: 20px;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    /* box-sizing: border-box; */
    /* border-radius: 20px;
    border: solid 1px; */
}